.container {
	display: flex;
	justify-content: center;
}

.container p {
	width: 300px;
	text-align: center;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	padding: 18px 40px;
	border: solid 1px #B46CF8;
	border-radius: 3px;
	color: #B46CF8;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.container p:hover {
	background-color: #B46CF8;
	color: #050D21;
}

/* responsive styles */
@media screen and (max-width: 600px) {
	.container {
		margin-bottom: 32px;
	}
}
