.container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 700px;
}
.heading h2 {
  font-size: 5rem;
  font-weight: 900;
  margin: 0;
  background-color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
		90deg,
    rgba(8, 121, 230, 1),
    rgba(9, 192, 197, 1)
	);
  padding-bottom: 20px;
}


.heading h3 {
  font-size: 1.6rem;
  margin: 0;
  background-color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
		90deg,
    rgb(151, 41, 36),
    rgb(253, 166, 44)
	);
}

.wrapper {
  flex: 1;
  display: flex;
}

.button {
  margin: 0 20px;
}

.button button {
  width: 300px;
  height: 60px;
  outline: none;
  font-size: 1.2rem;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
  color: #1f1e1e;
	border-radius: 3px;
  border: none;
  background-color: rgb(171, 150, 252);
  box-shadow: 0 0px 10px rgba(171, 150, 252, 1);
  transition: all 0.2s;
}

.button button:hover {
  box-shadow: 0 0px 25px rgba(139, 92, 250, 1 );
  background-color: rgba(139, 92, 250,1 );
  color: #ffffff
}
